body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #003366; /* Couleur bleu sombre */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /* Texte blanc */
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #0055a5; /* Couleur bleu clair au survol */
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #003366; /* Couleur titre bleu sombre */
}

h2 {
    color: #0055a5; /* Couleur sous-titre bleu clair */
}

footer {
    background-color: #003366; /* Couleur bleu sombre */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


#network-architecture {
    position: relative;
    text-align: center;
}

#network-image {
    max-width: 100%;
    height: auto;
}

.component {
    position: absolute;
    background-color: #007BFF;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: grab;
}

#ue-select, #ran-select {
    margin: 10px;
}

#add-ue, #add-ran {
    margin: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-ue:hover, #add-ran:hover {
    background-color: #0056b3;
}

